html {
  background-color: #333;
}
body {
  margin: 0px;
  min-height: 1000px;
  min-width: 1200px;
}

.navbar {
  width: 494.5px;
  background-color: #fff;
  overflow: hidden;
  position: relative;
  margin: auto;
}

/* Style the links inside the navigation bar */
.navbar a {
  float: left;
  display: block;
  color: #6e8e64;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Add a color to the active/current link */
.navbar a.active {
  background-color: #4caf50;
  color: white;
}

header {
  width: 100%;
  /*background-color: #a5bb8d;*/
  position: fixed;
  display: block;
  top: 0px;
  opacity: 0.8;
  z-index: 1;
}

footer {
  width: 100%;
  height: 120px;
  background-color: #4f7a60;
  display: block;
  bottom: 0px;
}

.homebg {
  background-image: url(home.PNG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 1000px;
  /*opacity: 0.8;*/
}

.gallerybg{
  background-image: url(g1.JPG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.gallerybg2{
  background-image: url(g1_1.JPG);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.container {
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.container2 {
  background-color: #fff59e;
  width: 100%;
  height: 600px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin: 0 auto;
}

.slideimg {
  position: relative;
  width: 100%;
  height: 100%;
}

.slider-holder {
  width: 1200px;
  height: 800px;
  /*background-color: yellow;*/
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  text-align: center;
  overflow: hidden;
}

.image-holder {
  width: 4800px;
  background-color: red;
  height: 800px;
  clear: both;
  position: relative;

  -webkit-transition: left 2s;
  -moz-transition: left 2s;
  -o-transition: left 2s;
  transition: left 2s;
}

.slider-image {
  float: left;
  margin: 0px;
  padding: 0px;
  position: relative;
}

#slider-image-1:target ~ .image-holder {
  left: 0px;
}

#slider-image-2:target ~ .image-holder {
  left: -1200px;
}

#slider-image-3:target ~ .image-holder {
  left: -2400px;
}
#slider-image-4:target ~ .image-holder {
  left: -3600px;
}

.button-holder {
  position: relative;
  top: -30px;
}

.slider-change {
  display: inline-block;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  background-color: #595959;
  opacity: 0.7;
}

.slider-change:hover {
  background-color: #a5a5a5;
}
.fixed {
  width: 1200px;
  height: 800px;
}

.cont1{
    border: solid white 5px;
    width: 200px;
    height: 200px;
    position: relative;
}

#g2{
  top:-200px;
  left: 397.5px;
}

#g3{
  top:-200px;
  left: 402.5px;
}

#g4{
  top:150px;
  left: -60px;
  z-index: 1;
}

#g5{
  top:50px;
  left: -200px;
  border: solid white;
  width: 200px;
  height: 200px;
  position: relative;
}

#g2_1{
  top:-200px;
  left: 397.5px;
}

#g3_1{
  top:-200px;
  left: 402.5px;
}

#g4_1{
  top:40px;
  left: -60px;
  z-index: 1;
}

#g5_1{
  top:-50px;
  left: 400px;
  border: solid white;
  width: 200px;
  height: 200px;
  position: relative;
  z-index: 1;

}